#Header {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border:solid 8px black;
    outline-style: solid; /*new CSS style 1*/
    outline-color:#FFBC00;
    outline-width: 5px;
    text-align: center;
    text-shadow: 7px 7px 0px black; /*new CSS style 2*/
    text-decoration: underline; /*new CSS style 3*/
    letter-spacing: 10px; /*new CSS style 4*/
    text-transform: uppercase; /*new CSS style 5*/
}
#Header h1 {
    font-size: 60px;
    font-family: "Passion One";
    color: #FFBC00;
    font-weight: bold;
}
#LeftNav {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border:solid 8px black;
    float: left;
    text-align: center;
    padding-bottom: 8px;
}
#Content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border:solid 8px black;
    text-align: center;
    padding: 15px;
}
#Footer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border:solid 8px black;
    text-align: center;
}
img {
    max-width: 75%;
}
ul{
    list-style-type: none;
    padding-left:0px;
}
p {
    font-weight: bold;
    color: white;
    font-family: "Arial";
}
h3 {
    color: #FFBC00;
    font-size: 40px;
    font-family: "Passion One";
    margin-bottom: 0px;
}
div {
    background-color: #8E41D5;
}
body {
    background-image: url('dark_wood.png');
}
a {
    color: white;
    font-weight:bold;
    font-size: 24px;
}
